
body{
    text-align: center;
}

#results { 
    margin-top: 3%;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.User{
	border: solid black 1px;
    width: fit-content;
    margin: 1%;
    padding: 1%;
}
img {
    width: 100px;   
}

button {
    border-radius: 10%;
    margin: 2px;
    background-color:black;
    color: white;
}

.saveButton,.cancelButton{
    display:none;
}

.saveButton{
    background: green;
}
.cancelButton{
    background: red;
}

span{
    display:inline;
}

textarea{
    margin-left: 3px;
}